<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course list</title>
    <link rel="icon" href="/images/contract_12333209.png" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/navMenu.js" defer></script>
</head>
<body>
    <header id="scroll_function">
        <section class="header-section">
            <h2 class="logo" tabindex="0" onclick='window.location.href = "/"'>BACKEND MOMENT01</h2>
        </section>
        <button class="menuBtn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>
        <nav id="nav-menu">
            <button class="menuBtn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">stäng</span>
            </button>
            <ul>
                <li class="links"><a class="action" href="#">Startsida</a></li>
                <li class="links"><a href="/add_course">lägga till kurs</a></li>
                <li class="links"><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="table_container">
            <table id="data">
                <caption>befintliga kurser</caption>
                <thead>
                    <tr>
                        <th>Coursecode</th>
                        <th>Coursename</th>
                        <th>Progression </th>
                        <th>syllabus</th>
                    </tr>
                </thead>
                <tbody>
                    <% Data.forEach((data)=> { %>
                    <tr>
                        <td class="kursID"><%= data.kurskod %></td>
                        <td><%= data.kurs_name %></td>
                        <td><%= data.progression %></td>
                        <td><a class="kurs_länk" href="<%= data.kurs_url %>"><%= (data.kurs_name).slice(0, 4) %></a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>    
    </main>
</body>
</html>